:root {
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Lato', sans-serif;
  --font-accent: 'Playfair Display', serif;

  --color-primary: #EABD21;
  --color-accent: #D71820;
  --color-dark: #000000;
  --color-muted: #94908C;
  --color-light: #FFFFFF;
}

*{
 margin: 0;
 padding: 0;   
 box-sizing: border-box;
}

h1, h2, h3 {
  font-family: var(--font-heading);
}

body, p, li {
  font-family: var(--font-body);
}

blockquote, .label{
  font-family: var(--font-accent);
}

a{
  text-decoration: none;
}

/*  HEADER */

/* topNav */
.top_nav{
  background-color: var(--color-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em 0.5em;
}

.top_nav .left{
  display: flex;
  gap: 1em;
}

.top_nav p{
  color: var(--color-light)
}

.top_nav i{
  color: var(--color-primary)
}

.top_nav .info{
  display: flex;
  gap: 0.25em;
}

/* Nav */
.nav_header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 1em;
  border-bottom: 1px solid var(--color-dark);
}

.nav_header .nav_logo .logo{
  display: flex;
  align-items: center;
}

.nav_header .nav_logo .logo img{
  width: 10%;
}

.nav_header .nav_logo .logo blockquote{
  color: var(--color-dark);
  font-weight: 600;
}

.nav_header .nav_menu_btn i{
  font-size: 1.5em;
  font-weight: 800;
}


