:root {
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Lato', sans-serif;
  --font-accent: 'Playfair Display', serif;

  --color-primary: #EABD21;
  --color-accent: #D71820;
  --color-dark: #000000;
  --color-muted: #94908C;
  --color-light: #FFFFFF;
}

*{
 margin: 0;
 padding: 0;   
 box-sizing: border-box;
}

h1, h2, h3 {
  font-family: var(--font-heading);
}

body, p, li {
  font-family: var(--font-body);
}

blockquote{
  font-family: var(--font-accent);
}

a{
  text-decoration: none;
}

html,body{
  scroll-behavior: smooth;
}

/*  HEADER */

/* topNav */
.top_nav{
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em 0.5em;
}

.top_nav .left{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top_nav .left{
  display: flex;
  gap: 1em;
}

.top_nav p{
  color: var(--color-light)
}

.top_nav i{
  color: var(--color-primary);
  font-size: 1.25rem;
}

.top_nav .info{
  display: flex;
  gap: 0.25em;
}

/* Nav */
.nav_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 1em;
  border-bottom:1px solid var(--color-muted);
  width: 100%;
}

.nav_header .nav_logo .logo{
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav_header .nav_logo .logo img{
  width: 50px;
}

.nav_header .nav_logo .logo blockquote{
  color: var(--color-dark);
  font-weight: 600;
}

.nav_header .nav_menu_btn i{
  font-size: 1.5em;
  font-weight: 800;
  cursor: pointer;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  isolation: isolate;
  z-index: 1000;
  background-color: var(--color-light);
}

.nav_links{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  border: 1px solid var(--color-muted);
  border-top: 0px;
  background: var(--color-light);
  padding: 5em 0em;
  border-radius: 0em 0em 1em 1em;
  list-style: none;
  transition: transform 0.6s;
  z-index: -1;
  visibility: hidden;
}

.nav_links.open{
  visibility: visible;
  transform: translateY(100%);
}

nav .nav_links li a{
  color: var(--color-dark);
  font-weight: 500;
  white-space: nowrap;
  transition: .3s;
}

nav .nav_links li a:hover{
  color: var(--color-primary);
}

.btn, .nav_links > :last-child > a{
  padding: 1em 1.5em;
  background-color: var(--color-primary);
  outline: none;
  border: none;
  white-space: nowrap;
  border-radius: 0.5em;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}

body .btn:hover{
  background-color: var(--color-muted);
}

.nav_btns{
  margin-left: auto;
  margin-right: 1em;
}

.bottom_nav > .nav_btns, .nav_header .nav_btns{
    display: none;
}

header#hero{
    padding: 6rem 2rem;
    padding-top: calc(var(--nav-height) + 5.5em);
    display: flex;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

header::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    to bottom, 
    rgba(1, 0, 0, 0.9), 
    rgba(1, 0, 0, 0.3)
  ), url(assets/img/hero.png);

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.header_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header_container h1, .header_container p{
  color: var(--color-light);
  font-size: 40px;
  text-align: center;

}

.header_container p{
  font-size: 16px;
}

.header_container blockquote{
  color: var(--color-primary);
}

.header_btns{
  display: flex;
  gap: 1em;
}

.header_btns > :first-child{
  background-color: var(--color-accent);
  color: var(--color-light);
}







@media (min-width: 768px){
  nav{
    position: static;
    max-width: 100vw;
    align-items: center;
    margin-inline: auto;
 }

 .top_nav{
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

 .bottom_nav{
    display: flex;
    align-items: center;
    padding: 0em 1em;
    border-bottom:1px solid var(--color-muted);
 }

 .nav_header{
    border: none;
    width: fit-content;
 }

 .nav_header .nav_menu_btn, .nav_btns{
    display: none;
 }

 .bottom_nav > .nav_btns{
    display: block;
 }

  .nav_links{
    position: static;
    width: fit-content;
    flex-direction: row;
    border: none;
    background: none;
    transition: none;
    z-index: 0;
    visibility: visible;
    margin-right: auto;
    margin-left: 15vw;
    padding: 2em 0em;
 }

 nav .nav_links li a{
    font-size: 0.85rem;
    font-weight: 700;
    white-space: nowrap;
 }

 .nav_links > :last-child{
    display: none;
  }

  header#hero{
    margin-top: 0rem;
    position: relative;
    isolation: isolate;
    overflow: hidden;
  }

  .header_container p{
    font-size: 16px;
    max-width: 50vw;
  }

  header#hero{
    display: block;
    padding-bottom: var(--nav-height);
    padding-top: var(--nav-height);
}

}
