:root {
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Lato', sans-serif;
  --font-accent: 'Playfair Display', serif;

  --color-primary: #EABD21;
  --color-accent: #D71820;
  --color-dark: #000000;
  --color-muted: #94908C;
  --color-light: #FFFFFF;
}

*{
 margin: 0;
 padding: 0;   
 box-sizing: border-box;
}

h1, h2, h3 {
  font-family: var(--font-heading);
}

body, p, li {
  font-family: var(--font-body);
}

blockquote{
  font-family: var(--font-accent);
}

a{
  text-decoration: none;
}

html,body{
  scroll-behavior: smooth;
}

/*  HEADER */

/* topNav */
.top_nav{
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em 0.5em;
}

.top_nav .left{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top_nav .left{
  display: flex;
  gap: 1em;
}

.top_nav p{
  color: var(--color-light)
}

.top_nav i{
  color: var(--color-primary);
  font-size: 1.25rem;
}

.top_nav .info{
  display: flex;
  gap: 0.25em;
}

/* Nav */
.nav_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 1em;
  border-bottom:1px solid var(--color-muted);
  width: 100%;
}

.nav_header .nav_logo .logo{
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav_header .nav_logo .logo img{
  width: 50px;
}

.nav_header .nav_logo .logo blockquote{
  color: var(--color-dark);
  font-weight: 600;
}

.nav_header .nav_menu_btn i{
  font-size: 1.5em;
  font-weight: 800;
  cursor: pointer;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  isolation: isolate;
  z-index: 1000;
  background-color: var(--color-light);
}

.nav_links{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  border: 1px solid var(--color-muted);
  border-top: 0px;
  background: var(--color-light);
  padding: 1.5em 0em;
  border-radius: 0em 0em 1em 1em;
  list-style: none;
  transition: transform 0.6s;
  z-index: -1;
  visibility: hidden;
}

.nav_links.open{
  visibility: visible;
  transform: translateY(100%);
}

nav .nav_links li a{
  color: var(--color-dark);
  font-weight: 500;
  white-space: nowrap;
  transition: .3s;
}

nav .nav_links li a:hover{
  color: var(--color-primary);
}

.btn, .nav_links > :last-child > a{
  padding: 1em 1.5em;
  background-color: var(--color-primary);
  outline: none;
  border: none;
  white-space: nowrap;
  border-radius: 0.5em;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}

body .btn:hover{
  background-color: var(--color-muted);
}

.nav_btns{
  margin-left: auto;
  margin-right: 1em;
}

.bottom_nav > .nav_btns, .nav_header .nav_btns{
    display: none;
}

header#hero{
    padding: 6rem 2rem;
    padding-top: calc(var(--nav-height) + 5.5em);
    display: flex;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

header::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    to bottom, 
    rgba(1, 0, 0, 0.5), 
    #d71822b6
  ), url(assets/img/hero.png);

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.header_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header_container h1, .header_container p, 
.header_container blockquote{
  color: var(--color-light);
  font-size: 40px;
  text-align: center;
}

.header_container p{
  font-size: 16px;
}

.header_container blockquote{
  color: var(--color-dark);
  font-size: 14px;
  font-weight: 600;
}

.header_btns{
  display: flex;
  gap: 1em;
}

.header_btns > :first-child{
  background-color: var(--color-dark);
  color: var(--color-light);
}

/* Featured Events */
.featured_events{
  padding: 2em 4em;
  background-color: var(--color-dark);
}

.featured_events h1, .featured_events h2{
  color: var(--color-light);
}

.featured_events .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 3em;
}

.featured_events a{
  color: var(--color-light);
  transition: .3s;
}

.featured_events a:hover{
  background-color: var(--color-primary);
  color: var(--color-dark);
}

.featured_container, .card > .box, .card > .content .info,
.content .info > .time, .content .info > .location{
  display: flex; 
}

.featured_container .card{
  display: flex;
  flex-wrap: wrap;
  border: 2px solid var(--color-light);
  padding: 2em;
  gap: 1em;
}

.card > .box{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2em;
  background-color: var(--color-primary);
  gap: 0.25em;

  :first-child{
    font-weight: 700;
    font-size: 24px;
  }
}

.content .info{
  padding-top: 1em;
  flex-direction: column;
  gap: 0.5em;
}

.content .info > .time, .content .info > .location{
  gap: 0.5em;
}

.card > .content .info p{
  color: var(--color-light);
}

.card > .content .info i{
  color: var(--color-primary);
}

/* About Us  */

.about_us{
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 3em;
}

.about_us .header_row, .about_us .header_row .content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5em;
}

.about_us .header_row .content{
  gap: 1em;
}

.about_us .header_row img{
  width: 100%;
  height: 350px;
  border-radius: 1em;
}

.about_us .header_row h1, 
.about_us .header_row p,
.weekly_services .headline > *{
  text-align: center;
}

.about_us .header_row h1 span {
  color: var(--color-primary);
}

.about_us .header_row p span {
  font-weight: 600;
}

.about_us .info_row{
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.about_us .info_row .card{
  max-width: 250px;
  border-top: 3px solid var(--color-primary);
  gap: 0.25em;
  padding: 0.5em;
}

.about_us .info_row .card > :first-child{
  font-size: 18px;
}

.about_us .info_row .card > :nth-child(2){
  font-size: 36px;
  font-weight: 700;
}

.about_us .info_row .card span{
  color: var(--color-primary)
}


/* Weekly Services */

.weekly_services, .ws_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em 2em;
  background-color: var(--color-muted);
}

.ws_container{
  padding: 0;
  gap: 2em;

}

.ws_container .headline,
.service_row .card{
  max-width: 468px;
  align-self: center;
}

.service_row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.service_row .card{
  display: flex;
  align-items: center;
  background-color: var(--color-light);
  padding: 1em;
  border-radius: 1em;
  gap: 1em;
}

.service_row .card .content{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.card .content .date{
  display: flex;
  align-items: center;
  gap: 1em;
  border-top: 2px solid var(--color-primary);
  padding-top: 0.5em;
}

.card .content .date *{
  font-weight: 600;
 
}

.card .content .date > :first-child{
  font-weight: 900;
   color: var(--color-accent);
}

.medical-icon--chapel {
  display: inline-block;
  width: 72px;
  height: 72px;
  color: var(--color-primary);
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23000' d='M32.196 20.641s-2.046 1.08-2.046 4.375v3.286h4.093v-3.286c0-3.295-2.047-4.375-2.047-4.375'/%3E%3Cpath fill='%23000' d='M55.175.7H8.391C3.807.7.077 4.431.077 9.016v46.781c0 4.586 3.729 8.316 8.314 8.316h46.784c4.584 0 8.315-3.73 8.315-8.316V9.016C63.49 4.431 59.759.7 55.175.7m-4.88 55.891H35.697v-7.762c0-3.98-3.602-5.284-3.602-5.284s-3.602 1.303-3.602 5.284v7.762H14.124V40.495l12.113-5.85V19.116l5.966-12.468l5.973 12.468v15.529l12.119 5.85z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.arcticons--quick-bible {
  display: inline-block;
  width: 72px;
  height: 72px;
  color: var(--color-primary);
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M4.5 42.138h39M24 36.994V5.862m-9.533 8.345h19.066M20.98 40.438L4.953 39.65l.615-4.542Zm-2.565-2.99l-9.86-5.599m18.465 8.589l16.028-.788l-.615-4.542Zm2.565-2.99l9.86-5.599' stroke-width='1'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

/*  */










@media (min-width: 1024){
  nav{
    position: static;
    max-width: 100vw;
    align-items: center;
    margin-inline: auto;
 }

 .top_nav{
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

 .bottom_nav{
    display: flex;
    align-items: center;
    padding: 0em 1em;
    border-bottom:1px solid var(--color-muted);
 }

 .nav_header{
    border: none;
    width: fit-content;
 }

 .nav_header .nav_menu_btn, .nav_btns{
    display: none;
 }

 .bottom_nav > .nav_btns{
    display: block;
 }

  .nav_links{
    position: static;
    width: fit-content;
    flex-direction: row;
    border: none;
    background: none;
    transition: none;
    z-index: 0;
    visibility: visible;
    margin-right: auto;
    margin-left: 15vw;
    padding: 2em 0em;
 }

 nav .nav_links li a{
    font-size: 0.85rem;
    font-weight: 700;
    white-space: nowrap;
 }

 .nav_links > :last-child{
    display: none;
  }

  header#hero{
    margin-top: 0rem;
    position: relative;
    isolation: isolate;
    overflow: hidden;
  }

  .header_container p{
    font-size: 16px;
    max-width: 50vw;
  }

  header#hero{
    display: block;
    padding-bottom: var(--nav-height);
    padding-top: var(--nav-height);
  }

}
