:root {
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Lato', sans-serif;
  --font-accent: 'Playfair Display', serif;

  --color-primary: #EABD21;
  --color-accent: #D71820;
  --color-dark: #000000;
  --color-muted: #94908c4d;
  --color-light: #FFFFFF;

  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-h4: 1.25rem;
  --font-size-body: 1rem;
  --font-size-body-lg: 1.125rem;
  --font-size-small: 0.875rem;
  --font-size-caption: 0.75rem;
}

*{
 margin: 0;
 padding: 0;   
 box-sizing: border-box;
}

h1, h2, h3 {
  font-family: var(--font-heading);
}

h1{font-size: var(--font-size-h1);}
h2{font-size: var(--font-size-h2);}
h3{font-size: var(--font-size-h3);}
h4{font-size: var(--font-size-h4);}

p{
  font-size: var(--font-size-body);
}

body, p, li {
  font-family: var(--font-body);
}

blockquote{
  font-family: var(--font-accent);
}

a{
  text-decoration: none;
}

html,body{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*  HEADER */

/* topNav */
.top_nav{
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em 0.5em;
}

.top_nav .left{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top_nav .left{
  display: flex;
  gap: 1em;
}

.top_nav p{
  color: var(--color-light)
}

.top_nav i{
  color: var(--color-primary);
  font-size: 1.25rem;
}

.top_nav .info{
  display: flex;
  gap: 0.25em;
}

/* Nav */
.nav_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 1em;
  border-bottom:1px solid var(--color-muted);
  width: 100%;
}

.nav_header .nav_logo .logo{
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav_header .nav_logo .logo img{
  width: 50px;
}

.nav_header .nav_logo .logo blockquote{
  color: var(--color-dark);
  font-weight: 600;
}

.nav_header .nav_menu_btn i{
  font-size: 1.5em;
  font-weight: 800;
  cursor: pointer;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  isolation: isolate;
  z-index: 1000;
  background-color: var(--color-light);
}

.nav_links{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  border: 1px solid var(--color-muted);
  border-top: 0px;
  background: var(--color-light);
  padding: 1.5em 0em;
  border-radius: 0em 0em 1em 1em;
  list-style: none;
  transition: transform 0.6s;
  z-index: -1;
  visibility: hidden;
}

.nav_links.open{
  visibility: visible;
  transform: translateY(100%);
}

nav .nav_links li a{
  color: var(--color-dark);
  font-weight: 500;
  white-space: nowrap;
  transition: .3s;
}

nav .nav_links li a:hover{
  color: var(--color-primary);
}

.btn, .nav_links > :last-child > a{
  padding: 1em 1.5em;
  background-color: var(--color-primary);
  outline: none;
  border: none;
  white-space: nowrap;
  border-radius: 0.5em;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}

body .btn:hover{
  background-color: var(--color-muted);
}

.nav_btns{
  margin-left: auto;
  margin-right: 1em;
}

.bottom_nav > .nav_btns, .nav_header .nav_btns{
    display: none;
}

header#hero{
    padding: 6rem 2rem;
    padding-top: calc(var(--nav-height) + 5.5em);
    display: flex;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

header::before{
  position: absolute;
  content: "";
  height: calc(100vh - var(--nav-height));
  height: 100vh;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    to bottom, 
    rgba(1, 0, 0, 0.9), 
    rgba(1, 0, 0, 0.7)
  ), url(assets/img/hero.png);

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.header_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header_container h1, .header_container p, 
.header_container blockquote{
  color: var(--color-light);
  text-align: center;
}

.header_container p{
  font-size: 16px;
}

.header_container blockquote{
  color: var(--color-primary);
  font-size: 14px;
}

.header_btns{
  display: flex;
  gap: 1em;
}

.header_btns > :first-child{
  background-color: var(--color-accent);
  color: var(--color-light);
}

/* Featured Events */
.featured_events{
  padding: 2em 4em;
  background-color: var(--color-dark);
}

.featured_events h1, .featured_events h2{
  color: var(--color-light);
}

.featured_events .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 3em;
}

.box_btn{
  color: var(--color-light);
  border: 1px solid var(--color-primary);
  padding: 0.5em;
  transition: .3s;
}

.box_btn:hover{
  background-color: var(--color-primary);
  color: var(--color-dark);
}

.featured_container, .card > .box, .card > .content .info,
.content .info > .time, .content .info > .location{
  display: flex; 
}

.featured_container .card{
  display: flex;
  flex-wrap: wrap;
  border: 2px solid var(--color-light);
  padding: 2em;
  gap: 1em;
}

.card > .box{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2em;
  background-color: var(--color-primary);
  gap: 0.25em;

  :first-child{
    font-weight: 700;
    font-size: 24px;
  }
}

.content .info{
  padding-top: 1em;
  flex-direction: column;
  gap: 0.5em;
}

.content .info > .time, .content .info > .location{
  gap: 0.5em;
}

.featured_container .card > .content .info p{
  color: var(--color-light);
}

.featured_container .card > .content .info i{
  color: var(--color-primary);
}

/* About Us  */

.about_us{
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 3em;
}

.about_us .header_row, .about_us .header_row .content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5em;
}

.about_us .header_row .content{
  gap: 1em;
}

.about_us .header_row img{
  width: 100%;
  height: 350px;
  border-radius: 1em;
}

.about_us .header_row h2, 
.about_us .header_row p,
.weekly_services .headline > *{
  text-align: center;
}

.about_us .header_row h2 span {
  color: var(--color-primary);
}

.about_us .header_row p span {
  font-weight: 600;
}

.about_us .info_row{
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.about_us .info_row .card{
  max-width: calc(100vw / 3);
  flex-grow: 1;
  border-top: 3px solid var(--color-primary);
  gap: 0.25em;
  padding: 0.5em;
}

.about_us .info_row .card > :first-child{
  font-size: 18px;
}

.about_us .info_row .card > :nth-child(2){
  font-size: 24px;
  font-weight: 700;
}

.about_us .info_row .card span{
  color: var(--color-primary)
}


/* Weekly Services */

.weekly_services, .ws_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em 2em;
  background-color: var(--color-muted);
}

.ws_container{
  padding: 0;
  gap: 2em;
  background-color: transparent;
}

.ws_container .headline,
.service_row .card{
  max-width: 468px;
  align-self: center;
}

.ws_container .headline{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.service_row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.service_row .card{
  display: flex;
  align-items: center;
  background-color: var(--color-light);
  border: 2px solid var(--color-dark);
  padding: 1em;
  border-radius: 1em;
  gap: 1em;
}

.service_row .card .content{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.card .content .date{
  display: flex;
  align-items: center;
  gap: 1em;
  border-top: 2px solid var(--color-primary);
  padding-top: 0.5em;
}

.card .content .date *{
  font-weight: 600;
 
}

.card .content .date > :first-child{
  font-weight: 900;
   color: var(--color-accent);
}

.medical-icon--chapel {
  display: inline-block;
  width: 72px;
  height: 72px;
  color: var(--color-primary);
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23000' d='M32.196 20.641s-2.046 1.08-2.046 4.375v3.286h4.093v-3.286c0-3.295-2.047-4.375-2.047-4.375'/%3E%3Cpath fill='%23000' d='M55.175.7H8.391C3.807.7.077 4.431.077 9.016v46.781c0 4.586 3.729 8.316 8.314 8.316h46.784c4.584 0 8.315-3.73 8.315-8.316V9.016C63.49 4.431 59.759.7 55.175.7m-4.88 55.891H35.697v-7.762c0-3.98-3.602-5.284-3.602-5.284s-3.602 1.303-3.602 5.284v7.762H14.124V40.495l12.113-5.85V19.116l5.966-12.468l5.973 12.468v15.529l12.119 5.85z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.arcticons--quick-bible {
  display: inline-block;
  width: 72px;
  height: 72px;
  color: var(--color-primary);
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M4.5 42.138h39M24 36.994V5.862m-9.533 8.345h19.066M20.98 40.438L4.953 39.65l.615-4.542Zm-2.565-2.99l-9.86-5.599m18.465 8.589l16.028-.788l-.615-4.542Zm2.565-2.99l9.86-5.599' stroke-width='1'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

/*Identity*/
.identity{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 2em 0 2em;

  *{
    text-align: center;
  }

  h2{
    max-width: 65%;
  }
}

.identity .vision {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vision .vision_card{
  display: flex;
  background-color: var(--color-muted);
  padding: 3em;
  margin-top: 2em;
  align-items: center;
  border-top-left-radius: 15em;
  border-bottom-right-radius: 10em;
  max-width: 486px;

  h3, p{
    flex: 50%;
  }

  h3{
    font-size: 24px;
  }

  p{
    font-style: italic;
    font-size: 18px;
    font-weight: 600;
  }
  
}

.identity .values {
  padding: 5em 0;
  width: 100vw;
  background: linear-gradient(
     to bottom, 
    rgba(1, 0, 0, 0), 
    rgba(1, 0, 0, 0.7)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.values .values_grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(100vw/5), 1fr));;
  padding: 2em;
  width: 90vw;
  gap: 1em;
}

.values_grid .card{
  background-color: var(--color-primary);
  padding: 0.5em;
  border-radius: var(--font-size-caption);
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  svg{
    width: var(--font-size-h2);
    height: var(--font-size-h2);
    font-size: var(--font-size-h2);
  }
}

/* Foundations */
.foundations{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em 5vw;
  background: linear-gradient(
     to bottom, 
    rgb(214, 212, 210), 
    rgb(148, 144, 140)
  ), url(assets/img/hero.png);
  background-size: cover;
}

.foundations .row{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0 0 0;
}

.foundations .row .card_cont{
  width: min-content;
  display: flex;
  align-items: center;
}
.foundations .row .card{
  display: flex;
  flex-basis: calc((90vw - 1em) / 3);
  flex-grow: 1;
  gap: 1em;
}

.foundations .row .card .circle{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: var(--color-primary);
}

.foundations .row .card p{
  width: 50%;
}

.foundations .row .card h3{
  font-weight: 400;
}

.found_btns .btn{
  background-color: var(--color-accent);
}


/* Latest sermons */
.latest_sermons{
  padding: 4em 2em;
}

.latest_sermons .top_row{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.latest_sermons .top_row .headline > :first-child + :nth-child(2){
  padding: 0.5em 0 3em 0;
}

.latest_sermons .top_row .box_btn{
  color: var(--color-dark);
}

.latest_sermons .sermons_row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.latest_sermons .sermons_row .card{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.latest_sermons .sermons_row .card .content{
  background-color:#eabf218a;
  padding: 2em;
}

.sermons_row .card .content .info,
.sermons_row .card .content .info *,
.sermons_row .card .content .row{
  display: flex;
}

.sermons_row .card .content .info *{
  gap: 1em;
  i{
    color: var(--color-accent);
  }
}

.sermons_row .card .content .row{
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 1em;

  .download i{
    font-size: var(--font-size-h3);
    font-weight: 600;
    cursor: pointer;
  }
}

.listen_btn .btn{
    background-color: var(--color-accent);

}

.latest_sermons .sermons_row .card img{
  max-width: 100%;
  height: 200px;
}

/* Departments */
.departments{
  background-color: var(--color-muted);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5em 2em;
  flex-wrap: wrap;
  gap: 3em;
}

.departments .headline{
  max-width: 30vw;
}

.departments .headline > :first-child + :nth-child(2){
  padding: 0.5em 0;
}

.departments .box{
  max-width: 50vw;
  background-color: var(--color-primary);
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(50vw/4), 1fr));
  gap: 2em;
  border-radius: 1em;
}

.departments .box .card, .values_grid .card{
  cursor: pointer;
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.departments .box .card:hover, .values_grid .card:hover{
  background-color: var(--color-accent);
}

/* Upcoming Events */

.upcoming_events{
  padding: 4em 2em;
}

.upcoming_events .top_row{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 3em;
}

.upcoming_events .top_row .box_btn{
  color: var(--color-dark);
}

.upcoming_events .events_container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}

.upcoming_events .events_container .card{
  display: flex;
  align-items: center;
  padding: 1em 2em;
  border: 1px solid var(--color-dark);
  border-radius: 2em;
  justify-content: space-between;
  gap: 15vw;
}

.events_container .card .info, .events_container .card .date_box, .events_container .card .info > *{
  display: flex;
}

.events_container .card .date_box{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  .date{
    background-color: var(--color-primary);
    padding: 1em;
    border-radius: 1em;
    font-weight: 900;
  }
  .month{
    font-weight: 600;
  }
}


.events_container .card .title{
  display: flex;
  flex-direction: column;
  gap: 1em; 

  .info{
    gap: 2em;
  }
}









@media (min-width: 1024px){
  nav{
    max-width: 100vw;
    align-items: center;
    margin-inline: auto;
 }

 .top_nav{
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

 .bottom_nav{
    display: flex;
    align-items: center;
    padding: 0em 1em;
    border-bottom: 1px solid var(--color-muted);
 }

 .nav_header{
    border: none;
    width: fit-content;
 }

 .nav_header .nav_menu_btn, .nav_btns{
    display: none;
 }

 .bottom_nav > .nav_btns{
    display: block;
 }

  .nav_links{
    position: static;
    width: fit-content;
    flex-direction: row;
    border: none;
    background: none;
    transition: none;
    z-index: 0;
    visibility: visible;
    margin-right: auto;
    margin-left: 15vw;
    padding: 2em 0em;
 }

 nav .nav_links li a{
    font-size: 0.85rem;
    font-weight: 700;
    white-space: nowrap;
 }

 .nav_links > :last-child{
    display: none;
  }

  header#hero{
    margin-top: 0rem;
    position: relative;
    isolation: isolate;
    overflow: hidden;
  }

  .header_container p{
    font-size: 16px;
    max-width: 50vw;
  }

  header#hero{
    display: block;
    padding-bottom: var(--nav-height);
    padding-top: var(--nav-height);
  }

  .about_us .info_row .card{
    flex-basis: calc(100vw / 5);
  }
}
