:root {
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Lato', sans-serif;
  --font-accent: 'Playfair Display', serif;

  --color-primary: #EABD21;
  --color-accent: #D71820;
  --color-dark: #000000;
  --color-muted: #94908C;
  --color-light: #FFFFFF;
}

*{
 margin: 0;
 padding: 0;   
 box-sizing: border-box;
}

h1, h2, h3 {
  font-family: var(--font-heading);
}

body, p, li {
  font-family: var(--font-body);
}

blockquote, .label{
  font-family: var(--font-accent);
}

a{
  text-decoration: none;
}

html,body{
  scroll-behavior: smooth;
}

/*  HEADER */

/* topNav */
.top_nav{
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em 0.5em;
}

.top_nav .left{
  display: flex;
  gap: 1em;
}

.top_nav p{
  color: var(--color-light)
}

.top_nav i{
  color: var(--color-primary)
}

.top_nav .info{
  display: flex;
  gap: 0.25em;
}

/* Nav */
.nav_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 1em;
  border-bottom:1px solid var(--color-muted);
  width: 100%;
}

.nav_header .nav_logo .logo{
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav_header .nav_logo .logo img{
  width: 50px;
}

.nav_header .nav_logo .logo blockquote{
  color: var(--color-dark);
  font-weight: 600;
}

.nav_header .nav_menu_btn i{
  font-size: 1.5em;
  font-weight: 800;
  cursor: pointer;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  isolation: isolate;
  z-index: 9;
}

.nav_links{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  border: 1px solid var(--color-muted);
  border-top: 0px;
  background: transparent;
  padding: 1em 0em;
  border-radius: 0em 0em 1em 1em;
  list-style: none;
  transition: transform 0.9s;
  z-index: -1;
}

.nav_links.open{
  display: flex;
  transform: translateY(100%);
}

nav .nav_links li a{
  color: var(--color-dark);
  font-weight: 500;
  white-space: nowrap;
}

.btn{
  padding: 1em 1.5em;
  background-color: var(--color-primary);
  outline: none;
  border: none;
  white-space: nowrap;
  border-radius: 0.5em;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover{
  background-color: var(--color-light);
  border: 1px solid var(--color-dark);
}

.nav_btns{
  margin-left: auto;
  margin-right: 1em;
}



